In [1]:
import pandas as pd

In [2]:
import os
print(os.getcwd())  # Esto imprime el directorio actual

c:\Users\rey_d\Documents\GitHub\An-lisis-de-inversion-inmobiliario\notebooks

In [3]:
import os

# Cambiar el directorio de trabajo al nivel superior
os.chdir('..')

# Verificar dónde estás ahora
print("Directorio actual:", os.getcwd())

Directorio actual: c:\Users\rey_d\Documents\GitHub\An-lisis-de-inversion-inmobiliario

In [4]:
df = pd.read_csv(r'data\crimenValencia.csv', sep=';')

In [5]:
#Añadimos una columna llamada ciudad
df['city'] = 'Valencia'

In [6]:
df.columns

Index(['Año', 'Parámetro', 'Denuncias', 'city'], dtype='object')

In [7]:
df.head()

,Año,Parámetro,Denuncias,city
0,2023,Agresión sexual con penetración,14.000,Valencia
1,2023,Homicidios dolosos y asesinatos consumados,2.000,Valencia
2,2023,Hurtos,6.799,Valencia
3,2023,"Robos con fuerza en domicilios, establecimient...",652.000,Valencia
4,2023,Robos con violencia e intimidación,655.000,Valencia

In [8]:
# lo primero que podemos comprobar es el tipo de dato de cada columna
df.dtypes

Año            int64
Parámetro     object
Denuncias    float64
city          object
dtype: object

In [18]:
#cambiamos Denuncias a tipo int
# Supongamos que la columna se llama 'columna_float'
df['Denuncias'] = df['Denuncias'].round().astype(int)

In [9]:
df.duplicated().sum()  # Comprobamos si hay filas duplicadas

np.int64(0)

In [13]:
df.duplicated().sum()  # Comprobamos si hay filas duplicadas

np.int64(0)

In [14]:
df.isnull().sum() #comprueba si hay valores nulos

Año          0
Parámetro    0
Denuncias    0
city         0
dtype: int64

In [19]:
df.head()

,Año,Parámetro,Denuncias,city
0,2023,Agresión sexual con penetración,14,Valencia
1,2023,Homicidios dolosos y asesinatos consumados,2,Valencia
2,2023,Hurtos,7,Valencia
3,2023,"Robos con fuerza en domicilios, establecimient...",652,Valencia
4,2023,Robos con violencia e intimidación,655,Valencia